
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">CoronaActionIndia</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/pages/washkaro.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-android"></i>
                </span>
                <span class="title">WashKaro</span>
              </a>
            </li>
            <!--
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/pages/panictracker.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Panic Tracker</span>
              </a>
            </li>
            
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/pages/news.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">News</span>
              </a>
            </li>-->
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/pages/guidelines.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-info-alt"></i>
                </span>
                <span class="title">Information</span>
              </a>
            </li>
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/pages/contacts.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-headphone-alt"></i>
                </span>
                <span class="title">Helplines</span>
              </a>
            </li>
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/pages/team.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-user"></i>
                </span>
                <span class="title">Team</span>
              </a>
            </li>
                
          </ul>
        </div>
      </div>
