
{% extends "layouts/default.html" %}

{% block title %} Blank Page {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap" rel="stylesheet">
<{% load static %}
<script src="{% static 'assets/style.css' %}" alt="My image"></script>
<style type="text/css">

.google-container{
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
    <!-- (Almost) A blank page -->
    <h3>
    Health Contact Numbers for Coronavirus 
    </h3>
                          <table border="1" cellpadding="2" cellspacing="0">
<tbody>
<tr style="background-color: #f0f0f0">
<td>State</td><td>Number</td>
</tr>
<tr style="background-color: #ffffff">
<td>Andhra Pradesh</td><td>+91-866-2410978</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Arunachal Pradesh</td><td>+91-9436055743</td>
</tr>
<tr style="background-color: #ffffff">
<td>Assam</td><td>+91-6913347770</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Bihar</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Chhattisgarh</td><td>104</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Goa</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Gujarat</td><td>104</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Haryana</td><td>+91-8558893911</td>
</tr>
<tr style="background-color: #ffffff">
<td>Himachal Pradesh</td><td>104</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Jharkhand</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Karnataka</td><td>104</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Kerala</td><td>+91-471-2552056</td>
</tr>
<tr style="background-color: #ffffff">
<td>Madhya Pradesh</td><td>+91-755-2527177</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Maharashtra</td><td>+91-20-26127394</td>
</tr>
<tr style="background-color: #ffffff">
<td>Manipur</td><td>+91-3852411668</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Meghalaya</td><td>108</td>
</tr>
<tr style="background-color: #ffffff">
<td>Mizoram</td><td>102</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Nagaland</td><td>+91-7005539653</td>
</tr>
<tr style="background-color: #ffffff">
<td>Odisha</td><td>+91-9439994859</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Punjab</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Rajasthan</td><td>+91-141-2225624</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Sikkim</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Tamil Nadu</td><td>+91-44-29510500</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Telengana</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Tripura</td><td>+91-381-2315879</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Uttarakhand</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Uttar Pradesh</td><td>18001805145</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>West Bengal</td><td>1800313444222,+91-3323412600,</td>
</tr>
<tr style="background-color: #ffffff">
<td>Andaman and Nicobar Islands</td><td>+91-3192-232102</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Chandigarh</td><td>+91-9779558282</td>
</tr>
<tr style="background-color: #ffffff">
<td>Dadra and Nagar Haveli</td><td>104</td>	
</tr>
<tr style="background-color: #f0f0f0">
<td>Daman &amp; Diu</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Delhi</td><td>+91-11-22307145</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Jammu and Kashmir</td><td>+91-191-2520982,+91-194-2440283</td>
</tr>
<tr style="background-color: #ffffff">
<td>Ladakh</td><td>+91-1982-256462</td>
</tr>
<tr style="background-color: #f0f0f0">
<td>Lakshadweep</td><td>104</td>
</tr>
<tr style="background-color: #ffffff">
<td>Puducherry</td><td>104</td>
</tr>
</tbody></table>

<script type="text/javascript" src="/static/assets/vendor.js %}"></script>
<script type="text/javascript" src="/static/assets/bundle.js %}"></script>
    

{% endblock content %}
