{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<link href="/static/assets/static/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script type=”text/javascript” src=”https://cdn.jsdelivr.net/afterglow/latest/afterglow.min.js”></script>
<style>#map { width: 100%; height: 450px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
.google-container{
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
            <div class="row gap-20 masonry pos-r">
              <div class="masonry-sizer col-md-6"></div>
              <div class="masonry-item w-100">
                <div class="row gap-20" id="kpi">
                  <div class="col-md-3" id="kpi-confirmed">
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1">Confirmed Cases</h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash"></span>
                          </div>
                          <div class="peer">
                          	<div class="value" id="confvalue">0</div>
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">
                            	<div class="diff" id="confirmed_delta"></div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3" id="kpi-deceased">
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1">Deaths</h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash2"></span>
                          </div>
                          <div class="peer">
                          	<div class="value" id="deathsvalue">0</div>
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">
                            	<div class="diff" id="deaths_delta"></div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3" id="kpi-recovered">
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1">Recovered/Migrated</h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash3"></span>
                          </div>
                          <div class="peer">
                          	<div class="value" id="recoveredvalue">0</div>
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500"><div class="diff" id="recovered_delta"></div></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3" id="kpi-active" data-tippy-content="Tooltip">
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1">States/UT Infected</h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash4"></span>
                          </div>
                          <div class="peer">
                          	<div class="value" id="states-value">0</div>
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500"><div class="diff" id="states_delta"></div></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="masonry-item col-12">
                <!-- #Site Visits ==================== -->
                <div class="bd bgc-white">
                  <div class="peers fxw-nw@lg+ ai-s">
                    <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                      <div class="layers">
                        <div class="layer w-100 mB-10">
                          <h3 class="lh-1"></h3>
                          <div style="border: 10px solid; text-align: center; ">
                              <p>
                              <div style="border: 10px; ">
                            <h3>
                             Appeal for a janta curfew on Sunday, March 22
                            </h3>
                            <h5>March 19th 2020</h5>
                            <ol type="1" style="text-align: left; margin-left: 5%;">
                              <li>Urge all senior citizens between the age of 65-70 to stay at home, says PM</li>
                              <li>To deal with coronavirus, no definite solution has been found, nor has any vaccine produced: PM</li>
                              <li>Social distancing is important and effective. Please stay at home--work from home to the extent possible, please refrain from non-essential gathering and get out of house only when it is extremely necessary: PM Modi</li>
                              <li><b>Appeal for a janta curfew on Sunday, March 22. Urge people to stay at home from 7 am to 9 pm to curb the coronavirus.</b></li>
                              <li>I ask local administration to clap and ring bells at 5 pm on March 22 as a form of gratitude to the workers who are fighting the coronavirus: PM Modi.</li>
                              <li>On Mar 22 at 5 pm, we should thank people like doctors, medical personnel, cleaning staff, for their service: PM Modi</li>
                              <li>I request people to avoid going to hospitals for routine check-up to ease pressure on medical staff: PM Narendra Modi</li>
                              <li>Keeping in mind economic challenges arising out of coronavirus, govt has decided to form COVID-19 Economic Response Task Force: PM</li>
                              <li>PM asks people to avoid panic buying, says they should not hoard essential items like food and medicine</li>
                            </ul>
                             Source: <a href="https://youtu.be/gJf2JrRsN3I" target="_blank">https://youtu.be/gJf2JrRsN3I</a> 
                              </div>
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="masonry-item col-12">
                <!-- #Site Visits ==================== -->
                <div class="bd bgc-white">
                  <div class="peers fxw-nw@lg+ ai-s">
                    <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                      <div class="layers">
                        <div class="layer w-100 mB-10">
                          <h3 class="lh-1">Current Advisory</h3>
                          <div style="border: 10px solid; text-align: center; ">
                              <p>
                              <div style="border: 10px; ">
                            <h3>
                             COVID-19 causing financial stress to poor, ration per person increased: Arvind Kejriwal
                            </h3>
                            <h5>March 22th 2020</h5>
                              <ol type ='1' style="text-align: left; margin-left: 5%;">
                                        <li>Rs 4000- 5000 pension will be paid to 8.5 lakh beneficiaries by 7 April.</li>
                                        <li>Free rations, with 50% more quantity than normal entitlements, to 72 lakh beneficiaries.</li>
                                        <li>Lunch and dinner will be served free to each and every person at all Delhi Government night shelters.</li>
                                        <li>For those who need to be quarantined and are opting for the paid hotel facility, GST will be waived to make it more affordable.</li>
                                        
                                      </ol>
                              </div>
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="masonry-item col-6">
                <!-- #Site Visits ==================== -->
                <div class="bd bgc-white">
                  <div class="peers fxw-nw@lg+ ai-s">
                    <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                      <div class="layers">
                        <div class="layer w-100 mB-10">
                          <h3 class="lh-1">Infographic of the day</h3>
                          <div class='google-container'>
                               <iframe src="https://docs.google.com/presentation/d/1_eWCIleUpj4eaVn-hMj2dA8FucRLhr8YjkzgZiwky7E/embed?start=true&loop=true&delayms=10000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" align="center">     
                               </iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="masonry-item col-6">
                <!-- #Site Visits ==================== -->
                <div class="bd bgc-white">
                  <div class="peers fxw-nw@lg+ ai-s">
                    <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                      <div class="layers">
                        <div class="layer w-100 mB-10">
                          <h3 class="lh-1">Video of the week</h3>
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/ehf9gvGrBSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              



              <div class="masonry-item col-12">
                <!-- #Site Visits ==================== -->
                <div class="bd bgc-white">
                  <div class="peers fxw-nw@lg+ ai-s">
                    <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                      <div class="layers">
                        <div class="layer w-100 mB-10">
                          <h3 class="lh-1">Statewise Patients</h3>
                          (Synched from <a href="">MoHFW</a>)
                        </div>
                        <div class="layer w-100">
                          <div id="map"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="masonry-item col-12">
                <!-- #Site Visits ==================== -->
                <div class="bd bgc-white">
                  <div class="peers fxw-nw@lg+ ai-s">
                    <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                      <div class="layers">
                        <div class="layer w-100 mB-10">
                          <h3 class="lh-1">Statewise Patients</h3>
                          <table id="prefectures-table">
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--
              <div class="masonry-sizer col-md-6"></div>
              <div class="masonry-item w-100">
                <div class="row gap-20" id="kpi">
                  <div class="col-md-4" id="kpi-confirmed">
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1"></h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash"></span>
                          </div>
                          <div class="peer">
                            <a href="panictracker.html">
                            <h4>PanicTracker</h4>
                            </a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4" id="kpi-deceased">
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1"></h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash2"></span>
                          </div>
                          <div class="peer">
                            <a href="washkaro.html">
                            <h4>WashKaro</h4>
                            </a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1"></h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash3"></span>
                          </div>
                          <div class="peer">
                            <a href="news.html">
                            <h4>News Articles</h4>
                            </a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="masonry-item col-md-12">
                <!-- #Monthly Stats ==================== -->
                <div class="bd bgc-white">
                  <div class="layers">
                    <div class="layer w-100 p-20">
                      <h6 class="lh-1">Monthly Stats </h6>
                    </div>
                    <div class="layer w-100 col-md-6">
                      <iframe width="100%" height="330px" frameborder="0" scrolling="yes" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubchart?oid=1484898533&amp;format=interactive"></iframe>
                    </div>
                    <div class="layer w-100 col-md-6">
                    <iframe width="100%" height="330px" frameborder="0" scrolling="yes" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubchart?oid=1586611950&format=interactive"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            

<script type="text/javascript" src="/static/assets/static/india.js"></script>
<script type="text/javascript" src="/static/assets/static/script.js"></script>
     

{% endblock content %}
