
{% extends "layouts/default.html" %}

{% block title %} Blank Page {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link rel="stylesheet" type="text/css"  href="/static/assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"  href="/static/assets/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/assets/js/modernizr.custom.js"></script>



<div id="testimonials" class="text-center" style="background-color: #D3D3D3">
  <div class="container">
    <div class="section-title text-center center">
              <h1>Team</h1>
              <hr>
         </div>

    <div class="row">
      <div class="col-md  col-md-offset-1">
        <div class="row testimonials">
           <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Tavpritesh Sethi(Mentor)</strong><br>
                  <em>Assitant Professor (CB) @ IIITD</em></p>
            <a href="https://twitter.com/Tavpritesh"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
            <a href="https://github.com/tavlab-iiitd"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/tavpritesh/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;
                  
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Rohan Pandey(Developer, Core team)</strong><br>
                  <em>Undergrad @ Shiv Nadar University</em></p>
                  <a href="https://twitter.com/therohanpandey1"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                <a href="https://github.com/rohanpandey"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="https://www.linkedin.com/in/rohan-pandey-145170175/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;
                
              </div>
            </blockquote>
          </div>
           <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Kanav Bhagat(Developer, Core team)</strong><br>
                  <em>Undergrad @ IIIT- Delhi </em></p>
                  <a href="https://twitter.com/BhagatKanav"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/kanavbhagat"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="http://linkedin.com/in/kanav-bhagat-133229130"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
           <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Vaibhav Gautam(Developer, Core team)</strong><br>
                  <em>Undergrad @ Shiv Nadar University</em></p>
                  <a href="https://twitter.com/Tavpritesh"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/VAICR7BHAV"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/vaibhav-gautam-171775187/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
           <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Himanshu Sharma(Developer)</strong><br>
                  <em>Undergrad @ G.L Bajaj</em></p>
                  <a href="https://twitter.com/himanshu9132"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/hspandit"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/himanshu-sharma2950/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Harsh Bandhey(Developer)</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/HarshBandhey"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/raptor419/"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/harshbandhey/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp; 
              </div>
            </blockquote>
          </div>

          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Somya Srivastava (Developer)</strong><br>
                  <em>Undergrad CSE @ Shiv Nadar University</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/somya1105"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/somya-srivastava-160876165"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>

          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Akshala Bhatnagar</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>

          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Akhil Jarodia</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>

          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Baani Leen Kaur Jolly</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>

          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Palash Aggrawal</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>

          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Pavan Kumar Garimella</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/pavanc7"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/pavan-garimella-2392b6190"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Raunak Mokhasi</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/raunak_mokhasi"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/raunakmokhasi"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/raunak-mokhasi-610b41188"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Ridam Pal</strong><br>
                  <em>PhD @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/iamridam/"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/ridam-pal-1b095a110/ "><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
        
          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Vrinda Narayanan</strong><br>
                  <em>MTech @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Bharath Kumar</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/"><i class="fa fa-twitter" w3-large style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/"><i class="fa fa-github" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" w3-large style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Lovedeep Singh Dhingra</strong><br>
                  <em>MBBS @ AIIMS, New Delhi</em></p>
                  <a href="https://twitter.com/LovedeepDhingra"><i class="fa fa-twitter" w3-large="" style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/LovedeepDhingra"><i class="fa fa-github" w3-large="" style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/lovedeepdhingra/"><i class="fa fa-linkedin" w3-large="" style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <div class="clients-name">
                <p><strong>Chandan Gupta</strong><br>
                  <em>Undergrad @ IIIT Delhi</em></p>
                  <a href="https://twitter.com/Chandan52836191"><i class="fa fa-twitter" w3-large="" style="color:maroon"></i></a>  &nbsp;&nbsp;
                  <a href="https://github.com/chandan21gupta"><i class="fa fa-github" w3-large="" style="color:maroon"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/chandan-gupta-18aa5a184/"><i class="fa fa-linkedin" w3-large="" style="color:maroon"></i></a>&nbsp;&nbsp;  
              </div>
            </blockquote>
          </div>
           
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title text-center center">
              <h1>Join Us!</h1>
              <hr>
         </div>
      <div class="col-md-8 col-md-offset-2">
        <form
  action="https://formspree.io/xyypkpeb"
  method="POST"
target="_blank">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-default">Send Message</button>
        </form>
        <div class="social">
          <p><i class="fa fa-phone"></i>+919899779671</a></li>
          <p><i class="fa fa-envelope"></i>tavpriteshsethi@iiitd.ac.in</a></li>
            <p></p>
          <ul>
            <li><a href="https://twitter.com/Tavpritesh"><i class="fa fa-twitter" w3-large></i></a></li>
            <li><a href="https://github.com/tavlab-iiitd/CoronaActionIndia"><i class="fa fa-github" w3-large></i></a></li>
            <li><a href="https://www.linkedin.com/in/tavpritesh/"><i class="fa fa-linkedin" w3-large></i></a></li>
            <li><a href="https://tavlab.iiitd.edu.in/"><i class="fa fa-globe" w3-large></i></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 

<script type="text/javascript" src="/static/assets/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script> 
<script type="text/javascript" src="/static/assets/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="/static/assets/js/easypiechart.js"></script> 
<script type="text/javascript" src="/static/assets/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="/static/assets/js/jquery.isotope.js"></script> 
<script type="text/javascript" src="/static/assets/js/jquery.counterup.js"></script> 
<script type="text/javascript" src="/static/assets/js/waypoints.js"></script> 
<script type="text/javascript" src="/static/assets/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="/static/assets/js/main.js"></script>
<script type="text/javascript" src="/static/assets/js/abouttabs.js"></script>
<script type="text/javascript" src="/static/assets/js/modal.js"></script>
<script type="text/javascript" src="/static/assets/js/slider.js"></script> 

{% endblock content %}
