
{% extends "layouts/default.html" %}

{% block title %} Blank Page {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link rel="stylesheet" type="text/css"  href="/static/assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"  href="/static/assets/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/assets/js/modernizr.custom.js"></script>


    <!-- (Almost) A blank page -->
    
    <div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <div class="section-title text-center center">
              <h1>Projects</h1>
              <hr>
         </div>
    </div>
    <div class="row justify-content-center">
       <h3>          &nbsp;          &nbsp;          &nbsp;          &nbsp;          &nbsp;          &nbsp;          &nbsp;          &nbsp;Wash Karo</h3>
        <div class="col-sm-3">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4>Wash Karo</h4>
                <small>Imparting Healthcare Informatation</small> 
              </div>
              <img src="/static/assets/thumb.png" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
         <div class="col-sm-8" >
          <p align="justify"> Wash Karo is a free Android-based app which aims to spread awareness among the mass regarding hygiene and sanitation practices. The application provides the latest news articles and matching WHO guidelines in the domain of WASH (Water, Sanitation and Hygiene). </p>
          <p align="justify"> In times of Search Results Web results Coronavirus Disease, our application acts as an effective healthcare intervention.</p>
          <p>Paper: <a href="https://arxiv.org/pdf/2003.07074.pdf">https://arxiv.org/pdf/2003.07074.pdf</a> </p>
          <p>Application: &nbsp;&nbsp; <a href="https://play.google.com/store/apps/details?id=inspire2connect.inspire2connect" class="btn btn-primary">Download Now</a> </div>
         </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/assets/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script> 
<script type="text/javascript" src="/static/assets/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="/static/assets/js/easypiechart.js"></script> 
<script type="text/javascript" src="/static/assets/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="/static/assets/js/jquery.isotope.js"></script> 
<script type="text/javascript" src="/static/assets/js/jquery.counterup.js"></script> 
<script type="text/javascript" src="/static/assets/js/waypoints.js"></script> 
<script type="text/javascript" src="/static/assets/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="/static/assets/js/main.js"></script>
<script type="text/javascript" src="/static/assets/js/abouttabs.js"></script>
<script type="text/javascript" src="/static/assets/js/modal.js"></script>
<script type="text/javascript" src="/static/assets/js/slider.js"></script> 

{% endblock content %}
